.switch {
  position: absolute;
  width: 3.2rem;
  aspect-ratio: 3/4;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;

  @media (max-width: 768px) {
    width: 2.8rem;
  }

  @media (max-width: 375px) {
    left: 65%;
  }

  /* 背景画像を表示する疑似要素 */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--image_theme-switch);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    width: 0rem;
    border-radius: 50%;
    background-color: var(--color_f-bg-theme-switcher);
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      z-index: 1;

      &:before {
        background-image: var(--image_theme-switch-reverse);
      }

      &::after {
        width: 3.5rem;
        box-shadow: var(--shadow_theme-switcher);
        transition: all 0.3s;
      }
    }
  }
}
