.linkCard {
  display: flex;
  border: 1px solid var(--color_article-link-card-border);
  margin: 1rem 0;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  justify-content: space-between;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color_article-link-card-hover);
  }
}

.linkCardInfo {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1;

  &__title {
    font-weight: bold;
    font-size: var(--font-size_l);
    // 2行目から3点リーダー
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media (max-width: 768px) {
      font-size: var(--font-size_m);
    }
  }

  &__description {
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size_s);
    color: var(--color_article-link-card-description);

    @media (max-width: 768px) {
      font-size: var(--font-size_xs);
    }
  }

  &__url {
    font-size: var(--font-size_s);
    margin-top: 1rem;
    color: var(--color_article-link-card-url);

    @media (max-width: 768px) {
      font-size: var(--font-size_xs);
    }

    >img {
      width: 1rem;
      margin-right: 0.5rem;
    }
  }
}

.linkCardImage {
  height: 150px;
  max-width: 300px;

  @media (max-width: 768px) {
    display: none;
  }

  >img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}
