.introduction {
  display: flex;
  max-width: 900px;
  width: 90%;
  margin: 1.5em auto;
  justify-content: center;
  align-items: center;
}


.profile {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;

  &__image {
    background-image: url('/rounded_face.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: var(--shadow_top-face);
  }

  >p {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: var(--font-size_xl);
  }
}

.modelViewer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;

  &__item {

    model-viewer {
      width: 7em;
      height: 7em;
    }
  }
}
