@use "shared-styles/global" as g;

.blogCard {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid var(--color_article-border);
  overflow: hidden;
  position: relative;
  transition: all 0.3s;

  &:has(.link:focus-visible) {
    outline-offset: 0.5rem;
    outline: 2px solid var(--color_outline);
  }

  /* リンクホバー時のカード全体の変化を検知 */
  @media (any-hover: hover) and (pointer: fine) {
    &:has(.link:hover) {
      box-shadow: 0 0 8px 0px var(--color_f-text-default);
      /* border-color: var(--color_article-border-hover); */
    }

    /* &:has(.link:hover) .metadata { */
    /* border-top-color: var(--color_article-border-hover); */
    /* color: var(--color_f-text-reverse-default); */

    /* .tag { */
    /*   background-color: var(--color_article-border-hover); */
    /*   color: var(--color_f-text-default); */
    /* } */
    /* } */

    /* &:has(.link:hover) .cardTitle { */
    /*   color: var(--color_f-text-reverse-default); */
    /* } */
  }

  &:not(:hover) {
    transition: none;
  }
}

.link {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  max-width: 100%;
  aspect-ratio: 1 / 0.525;
  font-size: var(--font-size_xl);
  line-height: 2rem;
  font-weight: bold;

  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }

  /* &:after { */
  /*   content: ""; */
  /*   position: absolute; */
  /*   top: 50%; */
  /*   left: 50%; */
  /*   transform: translate(-50%, -50%); */
  /*   border-radius: 50%; */
  /*   width: 0; */
  /*   aspect-ratio: 1/1; */
  /*   transition: width 0.3s ease-out; */
  /*   z-index: -1; */
  /*   background-color: var(--color_f-bg-reverse-default); */
  /* } */

  /* @media (hover: hover) { */
  /*   &:hover { */
  /*     &:after { */
  /*       width: 120%; */
  /*     } */
  /*   } */
  /* } */

  &:focus-visible {
    outline: none;
  }
}

.cardTitle {
  transition: color 0.3s ease;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.25rem;
}

.tag {
  font-size: var(--font-size_xxs);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--color_blog-tag-bg);
  color: var(--color_f-text-reverse-default);
  white-space: nowrap;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  border-top: 2px solid var(--color_article-border);
  padding: 1rem;
  text-align: center;
  font-size: var(--font-size_xs);
  transition:
    border-top-color 0.3s ease,
    color 0.3s ease;
}
