.skeleton__text {
  width: 100%;
  height: 1rem;
  background: var(--color_skeleton-bg);
  transform: scale(1, 0.8);
  transform-origin: 0 55%;
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 0.25rem;

  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, var(--color_skeleton-wave), transparent);
    position: absolute;
    top: 0;
    left: 0;
    animation: skeleton-animation 2s linear infinite;
  }
}

@keyframes skeleton-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
