@use 'shared-styles/global' as g;

.logo {
  background-image: var(--image_logo);
  background-repeat: no-repeat;
  font-size: var(--font-size_xxxl);
  background-size: 2.5rem;
  background-position: left center;
  height: 3.75rem;
  padding-left: 3.2rem;
  display: flex;
  align-items: center;
  font-family: var(--font_rubik_doodle_shadow);
}
