@use 'shared-styles/global' as g;

.articleHeader {
  max-width: 600px;
  margin: 0 auto 4rem;

  &__title {
    font-weight: bold;
    padding: 2.5em 0;
    font-size: var(--font-size_xxl);
    line-height: 1.7;
    view-transition-name: cardTitle;
  }

  &__date {
    text-align: center;
    line-height: 1.5;

    &--text {
      font-size: var(--font-size_s);
      color: var(--color_article-date);
    }
  }
}

@view-transition cardTitle {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
