@use 'shared-styles/global' as g;

.navigation {
  display: flex;
  align-items: center;
}

.navigationList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &__item {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: var(--shadow_global-nav);
    transition: all 0.3s;
    position: relative;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color_f-bg-reverse-default);
        color: var(--color_f-text-reverse-default);
        box-shadow: var(--shadow_global-nav-reverse);
        justify-content: center;
        transition: all 0.3s;
      }
    }

    &--icon {}

  }
}
