@use "shared-styles/global" as g;

.zennCard {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid var(--color_article-border);
  overflow: hidden;
  position: relative;
  transition: all 0.5s;

  &:has(.link:focus-visible) {
    outline-offset: 0.5rem;
    outline: 2px solid var(--color_outline);
  }

  @media (hover: hover) {
    &:has(.link:hover) {
      box-shadow: 0 0 8px 0px var(--color_f-text-default);
      /* border-color: var(--color_article-border-hover); */
    }

    /* &:has(.link:hover) .metadata { */
    /*   border-top-color: var(--color_article-border-hover); */
    /*   color: var(--color_f-text-reverse-default); */
    /* } */
  }

  &:not(:hover) {
    transition: none;
  }
}

.link {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* &:after { */
  /*   content: ""; */
  /*   position: absolute; */
  /*   top: 50%; */
  /*   left: 50%; */
  /*   transform: translate(-50%, -50%); */
  /*   width: 0; */
  /*   border-radius: 50%; */
  /*   aspect-ratio: 1 / 1; */
  /*   transition: width 0.3s ease-out; */
  /*   z-index: -1; */
  /*   background-color: var(--color_f-bg-reverse-default); */
  /* } */
  /**/
  /* @media (hover: hover) { */
  /*   &:hover { */
  /*     &:after { */
  /*       width: 120%; */
  /*     } */
  /*   } */
  /* } */

  &:focus-visible {
    outline: none;
  }
}

.metadata {
  border-top: 2px solid var(--color_article-border);
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: var(--font-size_xs);
}
