/*==== Primitive Colors ===*/
// grey
$grey-50: #f8f8f8;
$grey-100: #DDDDDD;
$grey-200: #c2c2c2;
$grey-300: #a7a7a7;
$grey-400: #888888;
$grey-500: #707070;
$grey-600: #636363;
$grey-700: #555555;
$grey-800: #3a3a3a;
$grey-900: #1e1e1e;

// yellow
$yellow-50: #fffbea;
$yellow-100: #fff3c4;
$yellow-200: #fce588;
$yellow-300: #fadb5f;
$yellow-400: #f7c948;
$yellow-500: #f0b429;
$yellow-600: #dfa91c;
$yellow-700: #b6850d;
$yellow-800: #8f6b06;
$yellow-900: #6e5100;

// red
$red-50: #fef2f2;
$red-100: #fde8e8;
$red-200: #fbd5d5;
$red-300: #f8b4b4;
$red-400: #f98080;
$red-500: #f05252;
$red-600: #e02424;
$red-700: #c81e1e;
$red-800: #9b1c1c;
$red-900: #771d1d;

// green
$green-50: #f3faf7;
$green-100: #def7ec;
$green-200: #bcf0da;
$green-300: #84e1bc;
$green-400: #31c48d;
$green-500: #0e9f6e;
$green-600: #057a55;
$green-700: #046c4e;
$green-800: #03543f;
$green-900: #014737;

// blue
$blue-50: #f0f9ff;
$blue-100: #e0f2fe;
$blue-200: #bae6fd;
$blue-300: #7dd3fc;
$blue-400: #38bdf8;
$blue-500: #0ea5e9;
$blue-600: #0284c7;
$blue-700: #0369a1;
$blue-800: #075985;
$blue-900: #0c4a6e;
