/*=== Primitive FontSize ===*/
$font-size-xxxxl: 48 * 0.0625rem;
$font-size-xxxl: 32 * 0.0625rem;
$font-size-xxl: 24 * 0.0625rem;
$font-size-xl: 20 * 0.0625rem;
$font-size-l: 18 * 0.0625rem;
$font-size-m: 16 * 0.0625rem;
$font-size-s: 14 * 0.0625rem;
$font-size-xs: 12 * 0.0625rem;
$font-size-xxs: 10 * 0.0625rem;

/*=== Semantic FontSize ===*/
$logo-font-size: $font-size-xxxl;
