@use '@styles/global' as g;

.logo {
  background-image: var(--image_logo);
  background-repeat: no-repeat;
  font-size: g.$logo-font-size;
  background-size: 60px;
  background-position: left center;
  height: 60px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  font-family: var(--font_potta_one);
}
